<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>



<script>
  function add_field()
  {
    var total_text=document.getElementsByClassName("input_text");
    total_text=total_text.length+1;
    field_div = document.getElementById("field_div");
    new_input = "<li id='input_text"+total_text+
    "_wrapper'><input type='text' class='input_text' name='input_text[]' id='input_text"+
    total_text+"' placeholder='Enter file path'></li>";
    field_div.insertAdjacentHTML('beforeend',new_input);
  }
  function remove_field()
  {
    var total_text=document.getElementsByClassName("input_text");
    document.getElementById("input_text"+total_text.length+"_wrapper").remove();
  }
</script>

<body>
<div class = "container">
  <h1>Train Models</h1>
  <form action='/results' method="post">
    <div id="wrapper">
      
      
      <ol id="field_div">
        <li id='input_text"+total_text+"_wrapper'><input type='text' class='input_text' name='input_text[]' id='input_text"+
    total_text+"' placeholder='Enter file path'></li>
      </ol>

      <input type="button" value="Add another file" onclick="add_field();">
      <!-- <input type="button" value="Remove TextBox" onclick="remove_field();"> -->
      <br>
      <br>
    </div>
    <input type='submit' value='Submit file'>
  </form>
</div>

</body>
</html>